# Pins external repositories used by RHDL's downstream VLSI prototypes.

[submodule "vlsi/double_wide_openframe"]
	path = vlsi/double_wide_openframe
	url = https://github.com/chipfoundry/double_wide_openframe.git
